body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
span{
    color: rgb(236, 119, 9);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
}
.header{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 10px 20px;
}
.header-two{
    width: 50%;
 
}
.image img{
    height:500px;
    width: 500px;
    margin-left: 80px;
    
    
}
.link-button{
    text-decoration: none;
    padding: 15px 40px;
    background-image: linear-gradient(rgb(223, 134, 122),#e24343);
    border-radius: 5px;
    color:snow;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 5px;
    
}
.orange{
    color: orange;
}
.header-two{
    width: 600px;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid rgba(255, 0, 0, 0.76);
}
.header-three{
    width: 600px;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1;
}
#foot{
    text-align: center;
    color:dimgray;
    font-size: 18px;
}
